* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 16px;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

/* ----- ----- HEADER ----- ----- */

header {
	width: 100%;
	background: url('../img/fondoprincipal.jpg'), #08042b;
	background-size: cover;
	background-attachment: fixed;
	background-position: center 0;
}

header .contenedor {
	position: relative;
	height: 700px;
}

header .planes {
	width: 100%;
	text-align: right;
}

header .planes a {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	margin: 40px 20px;
	text-decoration: none;
	position: relative;
}

header .planes a:hover {
	text-decoration: underline;
}

header .textos {
	width: 100%;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -52px;
}

header .textos .nombre {
	font-size: 50px;
	font-weight: 600;
}

header .textos .nombre span {
	font-weight: 300;
}

header .textos h3 {
	font-weight: 300;
	font-size: 25px;
	font-style: italic;
}

/* ----- ----- MAIN ----- ----- */
.main .acerca-de .contenedor {
	overflow: visible;
	position: relative;
}

.main .acerca-de .foto {
	width: 80%;
	position: absolute;
	left: 0;
	top: -50px;
	z-index: 0;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}

.main .acerca-de .foto img {
	width: 100%;
	vertical-align: top;
}

.main .acerca-de article {
	background: #fff;
	padding: 40px;
	width: 50%;
	position: relative;
	float: right;
	/*top: 30px;*/
	top: 500px;
	/*Con Parallax*/
	z-index: 1;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}

.main .acerca-de article h3 {
	font-size: 50px;
	font-weight: 300;
	margin-bottom: 40px;
}

.main .acerca-de article p {
	line-height: 28px;
	margin-bottom: 15px;

}

.main .planes {
	padding-top: 570px;
	margin-bottom: 50px;
}

.main .planes .titulo {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
}

.main .planes .conplanes {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Modificado para centrar los planes */
    background: url(../img/planes.jpg);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center 0;
}

.main .planes .conplanes::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
}

.main .planes .conplanes .plan {
	z-index: 1;
	width: 20%;
	height: 500px;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	transition: all 1s ease;
	margin: 50px;
}
.main .planes .conplanes .plan:last-child {
	width: calc(100% - 500px); 
	height: 10%;
	background-color: #110606;
	color: #ddd;
  }
.main .planes .conplanes .plan:hover {
	/* border: 1px solid #770808; */
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
	cursor: pointer;
	transform: scale(1.2);
}

.main .planes .conplanes .plan .nombre,
.precio {
	height: 20%;
	border-bottom: 2px solid #ccc;
	font-weight: 300;
	font-size: 28px;
	margin-bottom: 30px;
}

.main .planes .conplanes .descripcion {
	height: 30%;
	padding: 0 20px;
	margin-bottom: 10px;
}

.main .planes .conplanes .web {
	color: #c2c809;
}

.main .planes .conplanes .app {
	background-color: #4c8dce;
	color: #f2f2f2;
}

.main .planes .conplanes .administrable {
	color: #295909;
}

.main .galeria {
	overflow: hidden;
}

.main .galeria .foto {
	width: 25%;
	float: left;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.texto {
	position: absolute;
	font-size: 30px;
	color: #03193d;
	overflow: hidden;
	transition: all 1s ease;
}

.main .galeria .foto img {
	vertical-align: top;
	width: 100%;
	opacity: .7;
}

.main .galeria .foto img:hover {
	opacity: 1;
	cursor: pointer;
}

.foto:hover .texto {
	opacity: 1;
	color: rgb(255, 255, 255);
	transform: rotate(360deg);
	z-index: 3;
	cursor: not-allowed;
}

/* ----- ----- FOOTER ----- ----- */
footer {
	background: rgba(0, 0, 0, 0.7);
}

footer .copyright {
	text-align: center;
	padding: 15px 0;
	color: #fff;
}

/* ------CONTACTO ------ */
.contacto {
	padding: 30px 0;
}

.contacto .titulo {
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 60px;
	font-weight: 300;
	color: #3895ea;
	text-align: center;
}

.contacto .formulario {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"],
.contacto .formulario input[type="number"],
.contacto .formulario textarea {
	border: 2px solid #cecece;
	border-radius: 5px;
	padding: 15px 20px;
	font-size: 20px;
	color: #a4a4a4;
}

.contacto .formulario input[type="text"],
.contacto .formulario input[type="number"],
.contacto .formulario input[type="email"] {
	width: 49%;
	margin-bottom: 15px;
}

.contacto .formulario textarea {
	width: 100%;
	height: 100px;
	min-width: 100%;
	margin-bottom: 15px;
	min-height: 100px;
	max-height: 300px;
}

.contacto .formulario .boton {
	margin: auto;
	background: #3895ea;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 15px 40px;
	font-size: 20px;
}

.contacto .formulario .boton:hover {
	background: #387bea;
	cursor: pointer;
}
.contacto-directo{
	text-align: center;
	margin-bottom: 50px;
}
.contacto-directo p{
	margin: 10px;	
	color: #03193d;
}
.contacto-directo h3{	
	color: #333;
}

/* ----- ----- MEDIA QUERIES ----- ----- */

@media screen and (max-width: 1000px) {
	.main .planes .conplanes .plan {
		display: flex;
		flex-direction: column;
        width: 80%; /* Reducir el ancho de los planes en pantallas medianas */
    }

    .main .planes .conplanes .plan:last-child {
        width: 90%; /* Ajustar el ancho del último plan en pantallas medianas */
    }
}
@media screen and (max-width: 800px) {
	header .contenedor {
		position: static;
		height: auto;
	}

	header .textos {
		position: static;
		margin: 100px 0;
	}

	header .planes {
		text-align: center;
	}

	header .planes a {
		margin: 10px 20px;
	}

	header .textos .nombre {
		font-size: 30px;
	}

	header .textos h3 {
		font-size: 18px;
	}

	.main .acerca-de .foto {
		position: relative;
		width: 100%;
	}

	.main .acerca-de article {
		position: relative;
		width: 100%;
		top: -50px;
		transform: translate(0px, 0);
	}

	.main .planes {
		padding-top: 300px;
	}

	.main .planes article {
		width: 100%;
	}

	.main .galeria .foto {
		width: 50%;
	}

	.main .mapa {
		width: 80%;
		margin: auto;
	}
	.main .planes .conplanes .plan {
        width: 80%; /* Reducir el ancho de los planes en pantallas medianas */
    }

    .main .planes .conplanes .plan:last-child {
        width: 90%; /* Ajustar el ancho del último plan en pantallas medianas */
    }
	.nosotros{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.nosotros .programador{
		margin-top: 20px;
		width: 90%;
		margin-right: 0px;
		/* background-color: #000; */
	}
}

@media screen and (max-width: 400px) {
	.main .acerca-de article h3 {
		font-size: 34px;
		margin-bottom: 10px;
	}

	.main .planes article .nombre,
	.main .planes article .precio {
		font-size: 16px;
		line-height: 16px;
	}

	.main .ubicacion .direccion,
	.main .ubicacion .horarios {
		width: 100%;
		text-align: center;
	}

	.main .ubicacion .direccion {
		margin-bottom: 20px;
	}

	.main .ubicacion .horarios .entre-semana,
	.main .ubicacion .horarios .fin-semana {
		width: 100%;
		margin-bottom: 10px;
	}
	.main .planes .conplanes .plan {
        width: 90%;
    }

    .main .planes .conplanes .plan:last-child {
        width: 100%;
    }
}


.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #03193d;
	color: #ffffff;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #3895ea;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.close {
	color: #ffffff;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#openModalBtn {
	background-color: #3895ea;
	color: #ffffff;
	width: 100px;
	padding: 10px 20px;
	cursor: pointer;
	border: #03193d;
	border-radius: 10px;
	transition: all 1s;
}

#openModalBtn:hover {
	background-color: #ffffff;
	color: #03193d;
	box-shadow: 0px 10px 20px rgba(2, 12, 82, 0.7);
}

.close:hover,
.close:focus {
	color: #ff0000;
	cursor: pointer;
}

@keyframes modalFadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.modal {
	animation-name: modalFadeIn;
	animation-duration: 0.3s;
}



styled-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.styled-table th,
.styled-table td {
	padding: 8px 12px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #333;
}

.styled-table th {
	background-color: #f2f2f2;
}

.styled-table tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

.styled-table a {
	text-decoration: none;
	color: #007BFF;
	margin-right: 10px;
}

.dashboard {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.nosotros {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

.programador {
	width: 45%;
	height: 500px;
	margin-right: 5%;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 1s ease;
}
.programador:hover{
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
	cursor: pointer;
}

.programador:hover .fotos{
	width: 20%;
	transform: scale(1.2);
}
.seccionar{
	display: flex;
	justify-content: center;
	align-items: center;
}
.programador:last-child {
	margin-right: 0;
}

.fotos {
	width: 35%;
	margin-left: 10%;
	border-radius: 10px;
	transition: all 1s ease;
}
.texto-nosotros{
	width: 60%;
	height: 30%;
	transition: all 1s ease;
}

.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
}

.tituloredes {
	color: #ccc;
	text-align: center;
}

.social-personal {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.errorllenado {
	color: #ff0000;
	font-weight: bold;
}

.titulonosotros {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin: 40px;
}

.scroll-to-top {
	z-index: 2;
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #007bff;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	text-decoration: none;
	transition: opacity 0.3s;
}

.scroll-to-top:hover {
	background-color: #0056b3;
}

.img-inicio {
	z-index: 3;
	width: 20px;
}
/* seccion preguntas frecuentes */
.preguntas{
	margin-bottom: 20px;
}
.accordion-header {
    background-color: #f4f4f4;
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    padding: 10px;
    display: none;
}

.accordion-item.active .accordion-content {
    display: block;
}
